@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1644996723851') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiai:before {
  content: "\3449";
}

.icon-pinglun:before {
  content: "\e63a";
}

.icon-icon-arrow-left2:before {
  content: "\e664";
}

.icon-icon-arrow-right2:before {
  content: "\e667";
}

